<h1>タスクの一覧</h1>

<ul class="navigation">
<% if params[:action] == "index" %>
  <li class="selected">未完了タスク</li>
  <li><%= link_to "完了したタスク", [ :done, :tasks ] %></li>
<% else %>
  <li><%= link_to "未完了タスク", :tasks %></li>
  <li class="selected">完了したタスク</li>
<% end %>
</ul>

<table class="tasks">
  <col class="name" />
  <col class="due_date" />
  <col class="links" />
  <% @tasks.each do |task| %>
  <tr>
    <td><%= link_to task.name, task %></td>
    <td><%= task.due_date %></td>
    <td><%= links_for(task) %></td>
  </tr>
  <% end %>
</table>

<%= will_paginate %>

<%= link_to "新規登録", [ :new, :task ] %>
