<h1>タスクの一覧</h1>

<%= form_tag [ :search, :tasks ], :method => :get,
  :style => "text-align: right" do %>
<%= text_field_tag "query", params[:query] %>
<%= submit_tag "検索" %>
<% end %>

<%= render "categories" if Category.all.present? %>

<%= render "navigation" %>

<table class="tasks">
  <col class="name" />
  <col class="due_date" />
  <col class="links" />
  <% @tasks.each do |task| %>
  <tr>
    <td><%= link_to task.name, task %></td>
    <td><%= task.due_date %></td>
    <td><%= links_for(task) %></td>
  </tr>
  <% end %>
</table>

<%= will_paginate @tasks, :inner_window => 2, :outer_window => 2 %>

<div class="menu_items">
<%= link_to "タスクの新規登録", [ :new, :task ] %>
<%= link_to "カテゴリーの管理", :categories %>
</div>
