<h1>タスクの一覧</h1>

<table class="tasks">
  <col class="name" />
  <col class="due_date" />
  <col class="links" />
  <% @tasks.each do |task| %>
  <tr>
    <td><%= link_to task.name, task %></td>
    <td><%= task.due_date %></td>
    <td>
      <%= link_to "修正", [ :edit, task ] %>
      <%= link_to "削除", task, :method => :delete,
        :confirm => "本当に削除しますか？" %>
    </td>
  </tr>
  <% end %>
</table>

<%= link_to "新規登録", [ :new, :task ] %>
