<h1>タスクの新規登録</h1>

<%= form_for @task do |form| %>
<ul>
  <li><%= form.label :name, "名称" %><%= form.text_field :name %></li>
  <li>
    <%= form.label :due_date, "期限" %>
    <%= form.date_select :due_date, :use_month_numbers => true,
      :order => [ :year, :month, :day ],
      :start_year => Time.now.year, :end_year => Time.now.year + 1 %>
  </li>
  <li><%= form.label :done, "実施済み" %><%= form.check_box :done %></li>
  <li><%= form.label :description, "説明" %><%= form.text_area :description %></li>
  <li><%= form.submit "送信" %></li>
</ul>
<% end %>
