<h1>タスク: <%= @task.name %></h1>

<%= render "menu" %>

<% if @task.category %>
<div id="task_category"><%= @task.category.name %></div>
<% end %>
<div id="task_due_date"><%= @task.due_date %></div>
<div id="task_description"><%= simple_format(@task.description) %></div>
<div><%= link_to "修正", [ :edit, @task ] %></div>
