<h1>パスワードの再設定</h1>

<p>ユーザー名とメールアドレスを入力して「次へ」をクリックすると、パスワード再設定URLの記載されたメールが送信されます。</p>

<%= form_tag :action => 'send_token' do %>
<ul>
  <li>
    <%= label_tag :login_name, 'ユーザー名' %>
    <%= text_field_tag :login_name %>
  </li>
  <li>
    <%= label_tag :email, 'メールアドレス' %>
    <%= text_field_tag :email %>
  </li>
  <li><%= submit_tag "次へ" %></li>
</ul>
<% end %>
