<h1>パスワードの変更</h1>

<%= render "accounts/menu" %>

<%= form_for current_user, :url => :account_password do |form| %>
<%= render "shared/error_messages", :object => form.object %>
<ul>
  <li>
    <%= form.label :current_password %>
    <%= form.password_field :current_password %>
  </li>
  <li>
    <%= form.label :new_password %>
    <%= form.password_field :new_password %>
  </li>
  <li>
    <%= form.label :new_password_confirmation %>
    <%= form.password_field :new_password_confirmation %>
  </li>
  <li class="buttons"><%= form.submit "送信" %></li>
</ul>
<% end %>
