<%= form_for @category do |form| %>
<%= render "shared/error_messages", :object => @category %>
<ul>
  <li><%= form.label :name %><%= form.text_field :name %></li>
  <li class="buttons">
    <%= form.submit form.object.new_record? ? "追加" : "更新" %>
  </li>
</ul>
<% end %>
