<%= form_for @category do |form| %>
<%= render "shared/error_messages", :object => @category %>
<ul>
  <li><%= form.label :name %><%= form.text_field :name %></li>
  <li><%= form.submit "送信" %></li>
</ul>
<% end %>
